<div class="album py-5 bg-light">
  <div class="container">
    <%= source_helper("alert alert-warning") %>

    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <!-- partial for data collection manual implementation -->
      <%= render partial: 'portfolio', collection: @portfolios %>
    </div>
  </div>
</div>
