<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <!-- partial for data collection manual implementation -->
      <%= render partial: 'portfolio', collection: @portfolios %>
    </div>
  </div>
</div>
