<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 200, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>
          Text about myself
        </p>

        <p>
          more text about myself
        </p>

        <p>
          <button class="btn btn-primary" 
                  type="button" 
                  data-toggle="collapse" 
                  data-target="#jobHistory" 
                  aria-expanded="false" 
                  aria-controller="jobHistory">
            Job History
          </button>

          <button class="btn btn-primary" 
                  type="button" 
                  data-toggle="collapse" 
                  data-target="#education" 
                  aria-expanded="false" 
                  aria-controller="education">
            Education
          </button>

        </p>

        <p>
          <!-- Job history tab -->
          <div class="collapse" id="jobHistory">
            <div class="card card-block job-card">
              Job 1
            </div>
            <div class="card card-block job-card">
              Job 2
            </div>
            <div class="card card-block job-card">
              Job 3
            </div>
          </div>
          
          <!-- Education tab -->
          <div class="collapse" id="education">
            <div class="card card-block job-card">
              School 1
            </div>
            <div class="card card-block job-card">
              School 2
            </div>
            <div class="card card-block job-card">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>




